.wrapper {
  position: absolute;
  left: 0;
}

.darken {
  display: inline-block;
  background-color: var(--color-dark-bg-info);
  width: -webkit-fill-available;
}

.darken img {
  width: -webkit-fill-available;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.darken:hover img {
  opacity: 0.7;
}

.image {
  max-height: 1800px;
  max-width: 1400px;
}


@media screen and (max-width: 768px) {
  .wrapper {
    position: relative
  }
}
